{% extends 'base.html' %}
{% load staticfiles %}

{% block meta %}
    <title>{{ seo.about_title }}</title>
    <meta name="description" content="{{ seo.about_description }}" />
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

{% endblock %}


{% block content %}

    <section class="page-header">
        <!-- page header -->

        <div class="image-container">
            <!-- image container -->

            <img class="header-image" src="{{ main.about_header_image.url }}" alt="">

        </div><!-- end image container -->

        <div class="page-header-caption">
            <!-- page header caption -->

            <h1>{{ seo.about_h1 }}</h1>
        </div><!-- end page header caption -->
    </section><!-- end page header -->

{% endblock %}



{% block script %}
    <!-- about.js -->
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}